
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* Header Section */
.banner{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1440px;
    height: 652px;
    text-align: center;
    margin: 0 auto;
    padding-top: 26px;
}
.banner-title{
    font-size:48px ;
}
.banner-description{
    font-size: 16px;
    font-weight: 400px;
    padding:0px 294px 45px 294px;   
}
.contact{
    background-color: rgb(13, 19, 33); 
    color: white;
    font-size: 20px;
    border-radius: 8px;
    padding: 21px 24px 21px 24px;

}